@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@435&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Raleway:wght@435&display=swap');


.footer-columns{
  display: flex;
}
.footer-column{
  flex: 50%;
  margin: 20px;
}
header, footer{
  background-color:  #38b6ff;
  padding:10px;
}

main{
  padding: 10px;
  background-color: silver;
}

.post {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex; 
  
 
}
.post img{
  margin: 20px;
}
p{
font-family: 'Raleway', sans-serif;
}
h3{
  font-family: 'DotGothic16', sans-serif;
}
      